
/*start rulez*/
body
{
  
}
.box
{
    
    margin: auto;
    width: 1170px;
}
.clearfix
{
    clear: both;
}
h1, h2, h3, h4, h5, h6, button

{
    text-transform: capitalize;
}
.my-button
{
    background: none;
    border: 2px solid green;
    color: #252f31;
}
p
{
        color: #666;
}
/* end rules*/

/*start header*/
.header .slider
{
    height: 500px;
    background-image: url("bak.jpg");
    background-size: cover;
    
}
.header .slider .intro
{
    text-align: center;
    padding-top: 200px; 
    
    
}
.header .slider .intro h1
{
    margin: 0px auto;
    color: #252f31;
    font-size: 70px;
    border-top: 5px solid #252f31;
    border-bottom: 5px solid #252f31;
    font-family: tahoma;
    text-transform: uppercase;
    padding: 10px 0;
}
.header .slider .intro .but
{
    background: none;
    padding: 10px 20px;
    margin-top: 30px;
    border: 2px groove #252f31;
    font-weight: 700;
    font-family: arial;
}
.header .navbar
{
    background-color: #252f31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2
{
    float: left;
}
.header .navbar h2 span
{
    color: #2ecc71;
}
.header .navbar ul
{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float: right;
    padding-top: 5px; 
    
}
.header .navbar ul a
{
    color: white;
    text-decoration: none;
}
.header .navbar ul a:hover
{
    color: #2ecc71;
    font-size: x-large;
}
.clearfix
{
    
}
.header .navbar ul li
{
    float: left; padding: 0px 10px;
    text-transform: capitalize;
    font-size: larger;
}


/*End header*/

/* start features*/

.features
{
    overflow: hidden;
    margin: 30px 0px;
}
.features .feat
{
    float: left;
    width: 33.133333333%;
    overflow: hidden;
    height: 150px;
    padding-left: 2px;
    
}
.features .feat h3
{
    text-transform: capitalize;
    color: #444;
}
.features .feat p
{
    line-height: 1.7;
    text-justify: auto;
    color: #666;
}
.features .feat p:first-letter
{
    text-transform: capitalize;
}
/* end of features*/

/*start about me*/

.about-me
{
    background-color: #ddd;
    overflow: hidden;
    
}
.about-me .porf
{
    float: left;
    width: 40%;
}
.about-me .porf img
{
    max-height: 100%;
    height: 600px;
    max-width: 100%;
}
.about-me .info
{
    float: left;
    width: 60%;
    overflow: hidden;
}
.about-me .info h1
{
    color: #444;
    padding: 60px 0 5px 50px;
}
.about-me .info .fi
{
    color: #666;
    padding-left: 50px;
}
.about-me .info .fs
{
    margin-left: 50px;
    color: #666;
    margin-top: 30px;
}
.about-me .info .parts >div
{
    float: left;
    width: 50%;
}
.about-me .info .parts
{
    padding-left: 50px;
}
.about-me .ash
{
    color: #444;
    
}
.about-me .ash p
{
    overflow: hidden;
    color: #666;
}
.about-me .ash .ima
{
    float: left;
    width: 12%;
    padding: 10px 0 0 ;
}
.about-me .ash .ima img
{
    max-width: 100%;
}
.about-me .ash .ca
{
    float: left;
    width: 88%;
    
}
/*end of about me*/

/* start of my skill*/
.my-skill
{
    padding: 20px 0px;
}
.my-skill .skills h1
{
    color: #444;
    padding: 10px 0 5px 0px;
}
.my-skill .skills .fi
{
    color: #666;
 
}
.my-skill .skills .fs
{
    padding-left: 0px;
    color: #666;
    margin-top: 30px;
}
.my-skill .skills, .my-skill .prog
{
    width: 50%;
    float: left;
}
.my-skill .skills button
{
    background: none;
    border: 2px solid green;
    padding: 5px 10px;
    color: #252f31;
}
.my-skill .prog .tech
{
   margin-left: 20px;
   padding-top: 0px;
}
my-skill .prog .tech h3
{
   color: #666;
}
.my-skill .prog .tech .niq
{
    background-color: #ddd;
    height: 25px;
    margin-top: 0px;
}
.my-skill .prog .tech .niq .n1
{
    color: white;
    display: block;
    height: 25px;
    text-align: right;
    width: 80%;
    background-color: green;
}
.my-skill .prog .tech .niq .n2
{
    color: white;
    display: block;
    height: 25px;
    text-align: right;
    width: 53%;
    background-color: green;
}
.my-skill .prog .tech .niq .n3
{
    color: white;
    display: block;
    height: 25px;
    text-align: right;
    width: 90%;
    background-color: green;
}
/*end of my skills*/

/* start resume*/
.resume
{
    background-color: #e7e7fc;
    text-align: center;
    padding: 30px 0px 70px;
    
}
.resume p
{
    line-height: 1.4;
    letter-spacing: 0.2px;
}
.resume h2
{
    text-transform: uppercase
}
.resume button
{
    margin-top: 40px;
    padding: 5px 20px;
}
/*end resume*/

/* start of my education*/
.my-education
{
    padding: 20px 0px;
    overflow: hidden;
}
.my-education .main
{
    width: 50%;
    float: left;
}
.my-education p
{
    line-height: 1.5;
}
.my-education .main p:last-of-type
{
    padding-top: 5px;
}
.my-education .exp .fi
{
    padding-bottom: 30px;
}
.my-education .exp
{
    width: 45%;
    float: left;
    margin-left: 5%;
}
.my-education .exp
{
    padding: 2px 0;
}
.my-education .exp .fi span
{
    color: #666;
    line-height: 1.3;
    margin-bottom: 0px;
    padding: 1px 0;
}
.my-education .exp .fi span:last-of-type
{
    background-color: green;
    display: inline-block;
    color: white;
    margin-top: 10px;
    padding: 2px 10px;
    font-weight: bold;
}
/*end of my work exp*/

/*start of testremon*/
.testremon
{
    background-color: #d9d9e5;
    text-align: center;
    padding: 80px 0px 20px;
}
.testremon q
{
    color: #black;
}
.testremon h3
{
    margin: 40px 0;
}
.testremon ul
{
    list-style: none;
    padding-left: 0;
    text-align: center;
    padding-bottom: 30px;
}
.testremon ul li
{
    width: 15px;
    height: 15px;
    border: 1px solid green;
    display: inline-block;
    
}
.testremon ul .active, .testremon ul li:hover
{
    background-color: green;
    cursor: pointer;
}
/*end testremon*/

/*start portfolio*/
.portfolio
{
    padding: 10px 0;
    text-align: center;
}
.portfolio h2
{
    padding: 20px;
}
.portfolio p
{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.portfolio .our-work
{
    overflow: hidden;
    margin-bottom: 10px;
    overflow: hidden;
}
.portfolio .our-work >div
{
    float: left;
    width: 33.3333333333%;
    margin-bottom: 15px;
    padding-top: 50px;
}
.portfolio .our-work >div img
{
    width: 90%;
    margin: 10px;
}

/*end portfolio*/


/*start of contact me*/
.contact
{
    background-color: #252f31;
    padding: 30px;
    overflow: hidden;
}
.contact     h2
{
    color: #a79f9f;
}
.contact p
{
    color: #beb4b4;
}
.contact strong
{
    font-size: bold;
    color: white;
}
.contact .info
{
    float: left;
    width: 50%;
    margin-right: 5%;
}
.contact .forrm
{
    float: left;
    width: 45%;
}
.contact .forrm label
{
    display: block;
    color: #a79f9f;
    padding: 20px 0 10px;
    text-transform: capitalize;
    font-size: large;
}
.contact .forrm input
{
    width: 80%;
    background-color: #beb4b4;
    border: 0;
    color: white;
}
.contact .forrm  button
{
    margin-top: 10px;
    background-color: #beb4b4;
    color: #black;
    border: 2px double gray;
}
/*end of contact me*/

/*start of footer*/
.footer
{
    background-color: #191e22;
}
.footer > div
{
    background-color: #191e22;
    text-align: center;
    color: #f2f2f2;
}
/*end of footer*/

/*start of framework*/
.my-button
{
    background: none;
    border: 2px solid green;
    color: green;
    font-weight: bold;
}

